#top {
    -webkit-app-region: drag;
    margin: 0;
    display: block;
    width: 100%;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0e0e0e;
}

#title {
    position: absolute;
    top: 2px;
    left: 39px;
    font-size: 28px;
    font-family: Teko;
    margin: -3px;
    color: white;
}

#control-btns {
    top: 4px;
    right: 5px;
    position: absolute;
}

.ctrl-btn {
    width: 25px;
    height: 25px;
    text-align: center;
    -webkit-app-region: no-drag;
    border: none;
    background-color: #1e1e1e;
    color: white;
    vertical-align: bottom;
    outline: none;
}

#exit {
    margin-left: -1px;
}

#exit:hover {
    background-color: #ff3d3d;
}
.ctrl-btn:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    font-family: Be Vietnam;
}

#logo {
    left: 5px;
    top: 3px;
    width: 28px;
    height: 28px;
    image-rendering: auto;
    position: absolute;
}

#menu {
    left: 0;
    top: 35px;
    position: fixed;
    height: 100%;
    width: 170px;
    background-color: #101010;
}

.menu-btn {
    position: relative;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border: none;
    font-size: 18px;
    font-family: Be Vietnam;
    background-color: #101010;
    outline: none;
}

.menu-btn:hover {
    cursor: pointer;
    background-color: #202020;
}

.selected {
    background-color: #1e1e1e;
}

.win {
    position: fixed;
    top: 35px;
    left: 170px;
}

#status {
    font-size: 40px;
    font-family: Be Vietnam;
    left: 30px;
    top: 10px;
    position: absolute;
}

.on {
    color: #88ff88;
}

.off {
    color: #ff1111;
}

#stat {
    font-family: Be Vietnam;
    left: 30px;
    top: 75px;
    color: gray;
    position: absolute;
    width: 200px;
}

#log {
    left: 30px;
    top: 200px;
    background-color: #232323;
    width: 550px;
    height: 300px;
    overflow-y: scroll;
    position: absolute;
    color: darkgray;
    font-family: monospace;
}

::-webkit-scrollbar {
    background-color: #121212;
    cursor: pointer;
}

::-webkit-scrollbar-button {
    background-color: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: #404040;
}

::-webkit-scrollbar-corner {
    background-color: #121212;
    border: none;
    outline: none;
}

#start, #stop {
    font-size: 16px;
    position: absolute;
    left: 30px;
    top: 150px;
    border: none;
    background-color: #505050;
    color: white;
    padding: 5px, 5px, 2px, 2px;
    font-family: Be Vietnam;
    outline: none;
    cursor: pointer;
}

#stop {
    left: 90px;
}

#start:disabled, #stop:disabled {
    color: gray;
}

#start:hover {
    color: lightgreen;
}

#stop:hover {
    color: lightcoral;
}

#proxy-type, #proxy-area, #proxy-type-option {
    top: 10px;
    left: 30px;
    background-color: #232323;
    border: none;
    color: white;
    font-family: Be Vietnam;
    font-size: 18px;
    outline: none;
    position: absolute;
}

#proxy-type-option {
    top: unset;
    left: unset;
    position: unset;
}

#proxy-area {
    top: 60px;
    font-size: 14px;
    height: 200px;
    width: 450px;
}

#options {
    left: 30px;
    top: 10px;
    position: absolute;
    color: lightgray;
    width: 600px;
}

input {
    border: none;
    background-color: #131313;
    padding: 3px;
    outline: none;
    color: lightgray;
}

#default {
    color: lightcoral;
    left: 150px;
    top: 150px;
    position: absolute;
    width: 300px;
}

#filter-win {
    color: white;
    left: 30px;
    top: 10px;
    position: absolute;
    width: 800px;
}

#filter, #filter-tags {
    background-color: #1e1e1e;
}

#filter {
    color: lightgreen;
    width: 300px;
}

#filter-tags {
    color: lightskyblue;
}

#add-filter {
    margin-top: 10px;
    font-size: 16px;
    border: none;
    background-color: #505050;
    color: white;
    padding: 5px, 5px, 2px, 2px;
    font-family: Be Vietnam;
    outline: none;
    cursor: pointer;
}

#add-filter:hover {
    background-color: #404040;
}

#filters {
    border: solid gray 1px;
    width: 400px;
}